.recipes {
    background-color: #0a2750;
    background-image: url(../images/background_recipes.svg);
    background-size: cover;
    display: flex;
    flex-direction: column;
  }
  
  .recipes__title {
    color: white;
    font-family: "Inter";
    font-style: normal;
    font-weight: 500;
    font-size: 44px;
    line-height: 52px;
    margin-top: 100px;
    margin-left: 80px;
    max-width: 580px;
  }
  
  .recipes__subtitle {
    color: white;
    font-family: "Noto Serif";
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    max-width: 438px;
    line-height: 30px;
    margin-top: 24px;
    margin-left: 80px;
  }
  
  .recipes__videos {
    margin-top: 80px;
    margin-bottom: 215px;
    display: flex;
    justify-content: center;
    gap: 40px;
  }
  
  .recipes__video-caption {
    color: white;
    margin-top: 24px;
    font-family: "Inter";
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
  }
  
  .recipes__iframe {
    width: 480px;
    height: 273px;
    border: 0px;
  }
  
  .reservation__input {
    border-radius: 4px;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 32px;
    height: 60px;
  
  }
  
  .reservation__title {
    text-align: center;
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 44px;
    line-height: 52px;
    text-align: center;
    margin: 0 auto 80px auto;
   
  }
  
  .reservation {
    background-image: url(../images/background_reservation.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #d9e7ff;
    padding-top: 100px;
    padding-bottom: 120px;
    
  }
  
  .reservation__fieldset {
    display: flex;
    flex-direction: column;
    max-width: 385px;
    justify-content: center;
    margin: auto;
    margin-top: 80px;
    border: 0;
  }
  
  .reservation__label {
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 8px;
  }
  
  .reservation__button {
    max-width: 385px;
    width: 100%;
    background-color: #2f80ed;
    color: white;
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    height: 60px;
    border-radius: 4px;
    opacity: 100%;
  }
  
  .reservation__button:hover {
      opacity: 70%;
  }
  
  
  
  
  .reservation__container {
    padding: 0;
    border: 0;
    
  }
  
  .reservation__container-checkbox {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
    justify-content: center;
    padding-top: 32px;
  
  }
  
  
  .reservation__input::placeholder {
      
      padding-left: 20px; 
      padding-top: 15px;
    }
  
    .reservation__container-checkbox input[type="checkbox"] {
      width: 20px; 
      height: 20px; }