
.reservation__input {
    border-radius: 4px;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 32px;
    height: 60px;
  
  }
  
  .reservation__title {
    text-align: center;
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 44px;
    line-height: 52px;
    text-align: center;
    margin: 0 auto 80px auto;
   
  }
  
  .reservation {
    background-image: url(../images/background_reservation.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #d9e7ff;
    padding-top: 100px;
    padding-bottom: 120px;
    
  }
