.page {
  min-width: 1100px;
  max-width: 1600px;
  font-family: "Inter", "Arial", "Helvetica", sans-serif;
  font-size: 16px;
  line-height: 20px;
  margin: auto;
}

.nav {
  justify-content: space-between;
  display: flex;
  margin-top: 30px;
  padding: 0;
}

.nav__links {
  display: flex;
  column-gap: 20px;
  list-style: none;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}

.nav__logo {
  height: 39px;
  width: 105px;
}

.nav__link {
  text-decoration: none;
  color: black;
}

.header {
  display: flex;
  flex-direction: column;
  position: relative;
  background-color: white;
  background-image: url(../images/background_header.svg);
  background-repeat: no-repeat;
  background-size: cover;
  max-height: 800px;
  min-height: 720px;
  height: 100vh;
}

.header__content {
  display: flex;
  flex-direction: column;
  max-height: 800px;
  min-height: 720px;
  height: 100vh;
}

.header__image {
  position: absolute;
  margin-top: 124px;
  width: 646px;
  height: 568px;
  right: 5px;
}

.header__title {
  margin-top: 138px;
  margin-left: 80px;
  max-width: 709px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 58px;
  line-height: 72px;
  letter-spacing: 1px;
}

.header__span-accent {
  font-family: "Noto Serif";
  font-style: italic;
  font-weight: normal;
  font-size: 58px;
  line-height: 72px;
  color: #2f80ed;
}

.header__description {
  margin-top: 28px;
  margin-left: 80px;
  max-width: 683px;
  font-family: "Noto Serif";
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
}

.header__footer {
  display: flex;
  margin-top: auto;
  align-items: flex-end;
  justify-content: space-between;
  margin-bottom: 40px;
  margin-right: 40px;
  margin-left: 80px;
}

.header__direction {
  align-items: flex-end;
  margin-right: 80px;
  margin-bottom: 40px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #838383;
}

.header__paragraph {
  margin: 0;
}

.recipes {
  background-color: #0a2750;
  background-image: url(../images/background_recipes.svg);
  background-size: cover;
  display: flex;
  flex-direction: column;
}

.recipes__title {
  color: white;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
  margin-top: 100px;
  margin-left: 80px;
  max-width: 580px;
}

.recipes__subtitle {
  color: white;
  font-family: "Noto Serif";
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  max-width: 438px;
  line-height: 30px;
  margin-top: 24px;
  margin-left: 80px;
}

.recipes__videos {
  margin-top: 80px;
  margin-bottom: 215px;
  display: flex;
  justify-content: center;
  gap: 40px;
}

.recipes__video-caption {
  color: white;
  margin-top: 24px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
}

.recipes__iframe {
  width: 480px;
  height: 273px;
  border: 0px;
}

.form__input {
  border-radius: 4px;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  margin-bottom: 32px;
  height: 60px;

}

.reservation__title {
  text-align: center;
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
 
}

.reservation {
  background-image: url(../images/background_reservation.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #d9e7ff;
  padding-top: 100px;
  padding-bottom: 120px;
}

.resevation__fieldset {
  display: flex;
  flex-direction: column;
  max-width: 385px;
  justify-content: center;
  margin: auto;
  margin-bottom: 120px;
  margin-top: 80px;
  border: 0;
}

.form__label {
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 8px;
}

.form__button {
  max-width: 385px;
  width: 100%;
  background-color: #2f80ed;
  color: white;
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  height: 60px;
}

.form__container {
  padding: 0;
  border: 0;
  
}

.form__container-checkbox {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 15px;
  justify-content: center;
  padding-top: 32px;

}


.form__input::placeholder {
    
    padding-left: 20px; 
    padding-top: 15px;
  }